.theme-options-container {
	text-align: center;
}

.theme-options-container h2 {
	margin-bottom: 2rem;
	font-size: 2.8rem;
}

.theme-options-container .mb-helper {
	margin-bottom: 2rem;
}

.theme-options {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	margin-bottom: 10rem;
}

@media screen and (min-width: 1200px) {
	.theme-options {
		margin-top: 5rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.theme-options-container h2 {
		font-size: 4rem;
		margin-bottom: 4rem;
	}

	.themes-p {
		font-size: 2rem;
		padding: 0 15rem;
	}
}
