.tester {
	padding: 5rem 0;
}

.tester section {
	padding: 2rem;
	border-radius: 1.5rem;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media screen and (min-width: 1000px) {
	.tester {
		scale: 0.8;
		border-radius: 10px;
	}

	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}
}
