footer {
	color: var(--white);
	background-color: var(--black);
	padding-bottom: 2rem;
}

footer nav {
	background-color: var(--black);
}

footer nav a {
	color: var(--white);
}

footer nav ul {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

footer nav ul li a {
	transition: all 0.4s;
}

footer nav ul li a:hover {
	color: var(--purple-blue);
}

@media screen and (min-width: 1200px) {
	footer {
		padding-top: 0.5rem;
	}

	footer nav ul li {
		font-size: 1.8rem;
	}
}
