.cash-back-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	margin-bottom: 3rem;
}

@media screen and (min-width: 1000px) {
}
